<div class="header-content">
  <div class="header-title-section">
    <h1 class="header-title">{{ 'conversions.title' | translate }}</h1>
    <p class="header-subtitle">{{ 'conversions.subtitle' | translate }}</p>
  </div>


  <div class="toolbar">
    <div class="search-container">
      <i class="pi pi-search search-icon"></i>
      <input pInputText type="text" [placeholder]="'conversions.searchConversions' | translate" [(ngModel)]="searchQuery"
        (input)="onSearch(searchQuery)" class="search-input" />
      <i *ngIf="searchQuery" [pTooltip]="'common.actions.clear' | translate" class="pi pi-times clear-icon" (click)="clearSearch()">
      </i>
    </div>

    <button pButton type="button" icon="pi pi-plus" [label]="'conversions.addConversion' | translate" class="btn-create p-button-success"
      [pTooltip]="'conversions.addConversion' | translate" (click)="onCreateClick()">
    </button>
  </div>
</div>